<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Poll Results</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<style>
body { padding-top:50px; }
</style>    
</head>
<body>
<div class="container">
            <a href="/" class="btn btn-default"><span class="fa fa-user"></span> Home</a>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> My Account</a>          
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>   
    <h1><span id="val">Results:
    </span></h1>
<h2>Poll: <%=error %></h2>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Back To My Account Profile</a>   
<%if (error =="") { %>

<% }else{ %>
<li><b style="color: red;"><%=error %></b></li>
<% } %>
</ul>
</div>
</body>
</html>