
<!doctype html>
<html>
<head>
    <title>Vote App Add New Poll</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
<script src="https://code.jquery.com/jquery-3.0.0.min.js">
</script>   
<script>
window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
      //  alert("Yeah!");
      $(document).ready(function() {
          //  alert("Yeah!");
});
    } else {
        // jQuery is not loaded
      //  alert("Doesn't Work");
    }
}
</script>   
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
        <a href="/" class="btn btn-default"><span class="fa fa-user"></span> Home</a>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> My Account</a>          
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>   
    <h1><span class="fa fa-sign-in"></span> Add New Poll</h1>

    <!-- POLL FORM -->
    <form action="/addNewPoll" method="post" name="addpoll">
        <div class="form-group">
            <label>Name Your Poll Title</label>
            <input type="text" class="form-control" name="ptitle">
        </div>
    <div class="input_fields_wrap">

         <div><input type="text" name="mytext[]"></div>
                 
    </div> 
        <button class="add_field_button btn btn-warning btn-lg">Add More Fields</button> 
        <button type="submit" class="btn btn-warning btn-lg">Add Poll</button>
    </form>

</div>

</div>
</body>
</html>